.container-fluid,
.navbar-brand,
.navbar {
	background-color: #1f1f24;
	color: #fdfcfe;
	font-family:  "Product Sans", sans-serif;
}
#code-button {
	font-size: 14px;
}
.projects-text {
	color: #fdfcfe5d;
	font-size: 100px;
	line-height: 170px;
    font-weight: 700;
    letter-spacing: 2px;
}
.header-text {
	font-size: 165px;
    line-height: 170px;
    font-weight: 700;
    letter-spacing: 2px;
	margin: 0;
    padding: 20px;
    border: 0;
}
#dropdown-icon{
	color: #fdfcfe;
}
.code{
	font-size: 100px;
}
#html5 {
	color: #f36518;
	font-size: 165px;
}
#css3{
	color: #2360f5;
	font-size: 165px;
}
#boostrap{
	color: #8c00ff;
	font-size: 165px;
}
#js{
	color: #f8e100;
	font-size: 165px;
}
#react{
	color: #5adafd;
	font-size: 165px;
}
