#getInTouch{
	padding-left: 5em;
}
#getInTouch h2{
	font-size: 8.4em;
	line-height: 0.4em;
	margin-bottom: 45px;
}
#getInTouch span{
	font-size: 0.5em;
}
#getInTouch p{
	color: #a2a2a2;
}
.block{
	background-color: #09101a;
	height: 270px;
	width: 310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block i{
	color: #54E6A5;
	font-size: 5em;
}
.quantity{
	font-size: 2.7em;
	font-weight: 700;
	margin-top: 6px;
	margin-bottom: 4px;
}
.block-text{
	font-size: 1.2em;
}
