#home {
	height: 100vh;
	background-image: linear-gradient(to bottom right, #02050a, #09101a);
}

.left {
	display: flex;
	padding-left: 5em;
	align-items: center;
}

.header-text h1 {
	font-size: 7em;
	line-height: 170px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0;
	color: #fdfcfe;
	text-transform: none;
}

small {
	font-size: 0.8em;
}

.right {
	display: flex;
	align-items: center;
	padding-right: 5em;
}

.languajes {
	height: 400px;
	align-items: center;
	justify-content: space-around;
}

/******** Effects *********/
.title-transition {
	color: #54E6A5;
	font-size: 4em;
	line-height: 170px;
	font-weight: 700;
	transition: transform 0.5s ease-in-out;
	transform-origin: end center;
	transform-style: preserve-3d;
}

.title-flip {
	transform: rotateX(90deg);
	opacity: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

/******** Icons *********/
.fa-code {
	font-size: 4em;
}

.fa-brands,
.fa-database {
	font-size: 7em;
}

.fa-html5 {
	color: #f36518;
}

.fa-css3 {
	color: #2360f5;
}

.fa-bootstrap {
	color: #8c00ff;
}

.fa-square-js {
	color: #f8e100;
}

.fa-react {
	color: #5adafd;
}

.fa-angular {
	color: #d60030;
}

.fa-python {
	color: #3c77a8;
}

.fa-node {
	color: #76ad68;
}

.fa-database {
	color: #f89b26;
}

/******** Media *********/
@media (max-width: 1425px) {
	.title-transition {
		font-size: 3em;
	}
}

@media (max-width: 1102px) {
	.header-text h1 {
		font-size: 6em;
	}

	.title-transition {
		font-size: 2em;
	}
}

@media (max-width: 973px) {
	.header-text h1 {
		font-size: 5em;
		line-height: 120px;
	}

	.fa-code {
		font-size: 3em;
	}

	.fa-brands,
	.fa-database {
		font-size: 6em;
	}
}

@media (max-width: 843px) {
	.header-text h1 {
		font-size: 4em;
		line-height: 100px;
	}

	.fa-brands,
	.fa-database {
		font-size: 5em;
	}

	.fa-code {
		font-size: 2.5em;
	}

	.title-transition {
		font-size: 1.5em;
	}
}

@media (max-width: 767px) {
	.header-text h1 {
		font-size: 4em;
		line-height: 100px;
	}

	.fa-brands,
	.fa-database {
		font-size: 5em;
	}

	.fa-code {
		font-size: 2.5em;
	}

	.title-transition {
		font-size: 1.5em;
	}
}
