.left,
.right {
	display: flex;
	align-items: center;
}
.left{
	padding: 0 20px 0 100px;
	text-align: right;
}
.right{
	padding: 50px 100px;
}
.icons{
	padding: 0;
	margin: 0;
}
.header-text {
	margin: 0;
	color: #fdfcfe;
	display: block;
}
.home-button{
	display: flex;
	justify-content: right;
}
.eye-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-left: 20px;
}

.eye {
	background-color: #54E6A5;
	color: #000;
	font-size: 25px;
	font-weight: 900;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transition: color 0.3s ease-in-out;
}

.eye-container:hover .eye {
	color: #ffffff;
}

small {
	font-size: 0.8em;
}

.languajes {
	height: 400px;
	/* border: 2px solid fff; */
	background-color: #09101a53;
	box-shadow: 0 0 12px #0dab76;
	align-items: center;
	justify-content: space-around;
	/* padding: 20px 2px0 20px 20px; */
	/* margin: 0 40px 0 40px; */
	/* background-image: linear-gradient(to bottom right, #09101a, #1f1f24); */
}

/******** Effects *********/
.title-transition {
	color: #54E6A5;
	font-weight: 900;
	text-transform: none;
	transition: transform 0.5s ease-in-out;
	transform-origin: end center;
	transform-style: preserve-3d;
}

.title-flip {
	transform: rotateX(90deg);
	opacity: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

/******** Icons *********/
.fa-code {
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
}

.fa-brands,
.fa-database {
	font-size: 100px;
}

.fa-html5 {
	color: #f36518;
}

.fa-css3 {
	color: #2360f5;
}

.fa-bootstrap {
	color: #8c00ff;
}

.fa-square-js {
	color: #f8e100;
}

.fa-react {
	color: #5adafd;
}

.fa-angular {
	color: #d60030;
}

.fa-python {
	color: #3c77a8;
}

.fa-node {
	color: #76ad68;
}

.fa-database {
	color: #f89b26;
}

/******** Media *********/

@media (max-width: 992px) {
	.left{
		padding: 0 90px;
	}
	.right{
		padding: 50px 150px;
	}
	.header-text{
		/* display: flex; */
		text-align: center;
		justify-content: center;
	}
	.home-button{
		justify-content: center;
	}
	.fa-brands,
	.fa-database {
		font-size: 85px;
	}
	.fa-code {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	.left{
		padding: 0 80px;
	}
	.right{
		padding: 50px 100px;
	}
	.header-text{
		display: block;
	}

	.eye{
		font-size: 18px;
		height: 30px;
		width: 30px;
	}

	.fa-code {
		font-size: 24px;
	}

	.fa-brands,
	.fa-database {
		font-size: 80px;
	}
}

@media (max-width: 576px) {
	.left{
		padding: 0 50px;
	}
	.right{
		padding: 50px 55px;
	}
	.fa-brands,
	.fa-database {
		font-size: 70px;
	}

	.fa-code {
		font-size: 22px;
	}
}
