body {
  background-color: #02050a;
  color: #fdfcfe;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
#home {
	height: 100vh;
	background-image: linear-gradient(to bottom right, #02050a, #09101a);
}
#about {
	padding: 10em 5em 3em 5em;
	background-color: #02050a;
}
#getInTouch {
	padding-left: 5em;
	padding-right: 4em;
	padding-top: 65px;
}
#skills, #projects{
	padding: 0 5em 65px 5em;
	background-color: #09101a;
}
#contact{
	padding: 5em;
}
h1 {
  font-size: 60px;
	line-height: 72px;
	font-weight: 700;
	margin: 0;
}
@media (max-width: 1116px) {
	h1{
		font-size: 50px;
	}
}
@media (max-width: 885px) {
	h1{
		font-size: 45px;
	}
}
h2{
  font-size: 38px;
  font-weight: 700;
  margin-top: 0.8em;
}

p, a{
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: rgb(162, 162, 162);
  text-decoration: none;
}

.btn-green,
.btn-green2 {
  background-color: #54E6A5;
  color: #1f1f24;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.btn-green2{
  width: 150px;
}
.btn-green:hover,
.btn-green2:hover,
.btn-selected {
  background-color: #141c27;
  color: #fdfcfe;
}
.btn-selected{
  border: 1px solid #54E6A5;
}
