body {
  background-color: #02050a;
  color: #fdfcfe;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

#home {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #02050a, #09101a);
}

#about,
#skills,
#projects,
#getInTouch {
  padding: 85px 100px 65px 100px;
}

#contact {
  padding: 0 100px 65px 100px;
}
#skills,
#projects,
#contact {
  background-color: #09101a;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #54E6A5;
  margin-top: 0.8em;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

p,
a {
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: rgb(162, 162, 162);
  text-decoration: none;
}

.btn-green,
.btn-green2 {
  background-color: #54E6A5;
  color: #1f1f24;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.btn-clean {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
}

.btn-green a {
  color: #1f1f24;
  font-weight: 600;
}

.btn-green:hover,
.btn-green2:hover,
.btn-selected {
  background-color: #141c27;
  color: #fdfcfe;
}

.btn-selected {
  border: 1px solid #54E6A5;
}

.btn-green2:hover .btn-clean,
.btn-selected .btn-clean {
  color: #fdfcfe;
}

@media (max-width: 1116px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  #about,
  #skills,
  #projects,
  #getInTouch {
    padding: 85px 80px 65px 80px;
  }

  #contact{
    display: block;
    padding: 20px 80px 65px 80px;

  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  #about,
  #skills,
  #projects,
  #getInTouch {
    padding: 85px 60px 65px 60px;
  }

  .btn-green {
    padding: 10px 15px 10px 10px !important;
  }

  .btn-green2 {
    width: none;

  }
}

@media (max-width: 576px) {
  #about,
  #skills,
  #projects,
  #getInTouch {
    padding: 85px 45px 65px 45px;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }
}
