.wrapper {
	max-width: 100%;
	overflow: hidden;
	background-color: #54E6A5;
	text-transform: uppercase;
	height: 215px;
}

.marquee {
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	animation: marquee 30s linear infinite;
}

.marquee p {
	display: inline-block;
	font-size: 100px;
	font-weight: bold;
	color: #54E6A5;
	-webkit-text-stroke: 1.5px #02050a;
	margin: 0;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
